In [1]:
import pandas as pd

In [7]:
data = {'Text': ['campusx watch campusx', 'people watch campusx', 'people write comment', 'campusx write comment'],
        'output': [1, 1, 0, 0]}

df = pd.DataFrame(data)

In [8]:
df

                    Text  output
0  campusx watch campusx       1
1   people watch campusx       1
2   people write comment       0
3  campusx write comment       0

In [9]:
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder()

In [12]:
df_ohe=encoder.fit_transform(df[['Text']]).toarray()

In [13]:
df_ohe

array([[1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.]])

In [21]:
encoded_df = pd.DataFrame(df_ohe, columns=encoder.get_feature_names_out(['Text']))

In [22]:
df_encoded = pd.concat([df.drop(columns=['Text']), encoded_df], axis=1)

In [23]:
df_encoded

,output,Text_campusx watch campusx,Text_campusx write comment,Text_people watch campusx,Text_people write comment
0,1,1.0,0.0,0.0,0.0
1,1,0.0,0.0,1.0,0.0
2,0,0.0,0.0,0.0,1.0
3,0,0.0,1.0,0.0,0.0